<h1>"No Coins" Speedrun Bounty</h1>

<div class="preview-icons">
  <a href="https://www.speedrun.com/subsurf#No_Coins" target="_blank">
    <img src="assets/subway_surfers.png" alt="subway surfers">
  </a>
  <span class="icon-plus">+</span>
  <a href="https://www.speedrun.com/temple_run_2#No_coins" target="_blank">
    <img src="assets/temple_run2.png" alt="temple run 2">
  </a>
</div>
<div class="main-description">
  <b>Challenge:</b> Get the longest "No Coins" runs for both
  <a href="https://www.speedrun.com/subsurf#No_Coins" target="_blank">Subway surfers</a> and
  <a href="https://www.speedrun.com/temple_run_2#No_coins" target="_blank">Temple Run 2</a> until
  September 4th!

  <br><br>

  <b>Current prize pool: $150</b><br>
  <small>(You want to add to the prize pool? See contact information below)</small>
</div>

<h2>Participate</h2>
<p>
  Participation is free. Once you have registered, you can submit as many runs on the leaderboards
  as you want until the challenge ends. Your best (longest) runs will be considered for the bounty.
</p>
<div>
  <b>How to participate:</b>
  <ol>
    <li>
      Submit your speedrun.com username here:
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdKMT_dXIsUn1ry0teJ2kYUe6qWhs7v-zUhK10R5iMVBAv1UQ/viewform?embedded=true"
        width="640" height="440" frameborder="0" marginheight="0" marginwidth="0"></iframe>
      Make sure it exactly matches your username.
    </li>
    <li>Submit a run to both
      <a href="https://www.speedrun.com/subsurf#No_Coins" target="_blank">Subway surfers "No Coins"
        (with "No hoverboard/keys")</a>
      and <a href="https://www.speedrun.com/temple_run_2#No_coins" target="_blank">Temple Run 2 "No
        Coins"</a>
      on the speedrun.com leaderboards.
    </li>
  </ol>
</div>

<h2>Ranking</h2>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b>Ranking details</b>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>
    For each game, the run times (of all participants) will be ranked 1st, 2nd, 3rd etc. The
    runner(s) with the lowest rank sum (see example below) will win the bounty.
  </p>
  <p>
    Example: A Subway Surfers "No Coins" run (for example of 1:35.200) is the 5th best time on
    the
    Bounty leaderboard (see below) and a Temple Run 2 "No Coins" run (for example of 1:10.100)
    is the
    8th best time. This gives a rank sum of 5 + 8 = 13. The runner(s) with the lowest rank sum
    will
    win the bounty.
  </p>
</mat-expansion-panel>

<h2>Rules</h2>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b>Rule details</b>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li>Only runs submitted before <b>4th of September, 23:59 BRT</b> (= September 5th 02:59
      UTC)
      will be considered.
    </li>
    <li>Runs must be submitted to speedrun.com and therefore follow the respective rules of the
      game
      categories. Only runners with a run in both games are eligible for the bounty. The runs
      must be
      in the respective "No coins" category, and for Subway Surfers, the run must be of type "No
      hoverboard/keys".
    </li>
    <li>
      Distribution of prize pool: Below $300: 1 winner (100%), between $300-500: 2 winners
      (70%-30%),
      Above $500: 3 winners (50%-30%-20%)
    </li>
    <li>Winners will be announced publicly and also be contacted directly via the speedrun.com
      message
      system for security measures. Be aware that it may take 2-3 weeks to evaluate the winner,
      depending on the number of participants.
    </li>
    <li>Prizes will be paid out via PayPal or bank wire transfer.</li>
    <li>
      Cheating in any form may lead to exclusion of the bounty. Depending on the severity, you
      will
      also be reported, for example to speedrun.com. Both is at the discretion of the bounty
      creator.
    </li>
  </ul>
</mat-expansion-panel>

<h2>Bounty leaderboard</h2>
<p>
  Number of participants: {{dataSource.data.length}}<br>
  Last update: {{updateTime}} UTC
</p>

<p>
  Please note: Only verified runs will be listed, so it may take some time before your times will
  show up.
</p>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> #</th>
    <td mat-cell *matCellDef="let entry"> {{entry.position}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
    <td mat-cell *matCellDef="let entry"> {{entry.name}} </td>
  </ng-container>

  <ng-container matColumnDef="rank_sum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank sum</th>
    <td mat-cell *matCellDef="let entry"> {{entry.rank_sum}} </td>
  </ng-container>

  <ng-container matColumnDef="subsurf_rank">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Subsurf rank</th>
    <td mat-cell *matCellDef="let entry"> {{entry.subsurf_rank }} </td>
  </ng-container>

  <ng-container matColumnDef="subsurf_t">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Subsurf time</th>
    <td mat-cell *matCellDef="let entry"> {{entry.subsurf_t | minuteSeconds}} </td>
  </ng-container>

  <ng-container matColumnDef="tr2_rank">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> TR2 rank</th>
    <td mat-cell *matCellDef="let entry"> {{entry.tr2_rank}} </td>
  </ng-container>

  <ng-container matColumnDef="tr2_t">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> TR2 time</th>
    <td mat-cell *matCellDef="let entry"> {{entry.tr2_t | minuteSeconds}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<h2>Sponsors</h2>

<p>
  Thanks to the prize pool sponsors:
</p>

<ul>
  <li>VyPr</li>
  <li>adrianus</li>
</ul>

<h3>Thanks</h3>

<p>
  Special thanks to: VyPr
</p>

<h3>Contact</h3>
<p>
  Discord: adrianus#9213 | Speedrun.com: adrianus
</p>

<p>
  <small *ngIf="visitors">Page hits: {{visitors.visitorsTotal || 0}}</small>
</p>
